*{
    margin: 0px;
}

body{
    text-align: center;
    font-family: 'Open Sans';
}

i{
    font-size: 2em;
}

#cover{
    background: url('https://images.wallpaperscraft.com/image/san_-_diego_night_california_usa_50536_1920x1080.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    height: 100vh;
    letter-spacing: 2px;
}

#cover-content{
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#about-me{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-head{
    margin-bottom: 30px;
}

#about-content{
    max-width: 550px;
    font-size: 1.25em;
}

#projects{
    height: 100vh;
}

.animated-arrow{
    position: absolute;
    bottom: 80px;
    animation-duration: 2s;
    animation-name: arrow-down;
    animation-iteration-count: infinite;
}

.luniPanda{
    margin: 0 auto;
    position: relative;
    bottom: -50%;
}

@keyframes arrow-down{
    0%{
        bottom: 30px;
    }

    50%{
        bottom: 50px;
    }

    100%{
        bottom: 30px;
    }
}